<div class="card">
    <div class="card body m-4">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi in fuga sed voluptatum libero deleniti unde corporis quibusdam velit ad eos quia sunt nesciunt soluta, reprehenderit fugiat laboriosam dolor alias et quos nulla! Deserunt distinctio tempora molestias inventore totam nobis!</p>
    </div>
</div>