<div class="jumbotron mt-4">
    <h1 class="display-4"> app de notas con MongoDb </h1>
    <p class="lead "> Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias autem accusantium earum repellendus, rem exercitationem quis qui ipsum, sint consectetur impedit saepe omnis nesciunt dolorem similique magni voluptatem. Maxime, corporis!</p>
    <a href="https://imeva.herokuapp.com/" class="btn btn-primary btn-lg">IMEVA</a>
</div>